__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/

X_scaled.csv
X_scaled.pkl
login_success_vs_failure.png

.ipynb_checkpoints/
backend/data/rba-dataset.csv
backend/data/*.npy
backend/data/*.pkl
backend/models/*.pkl
